html,
body {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  height: 100%;
  font-size: 100%;
}

html {
  color: $cl-text-primary;
  background-color: $cl-bg-primary;
}

ul,
li {
  padding-left: 0;
  margin-left: 0;
  list-style-type: none;
}
