$font-stack: 'Avenir', Helvetica, Arial, sans-serif;
$header-stack: 'Avenir', Helvetica, Arial, sans-serif;

#app,
input,
textarea {
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input::placeholder,
textarea::placeholder {
  color: $cl-text-sub;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: $header-stack;
}

a {
  text-decoration: underline;
  text-decoration-skip: ink;
}

