
.u-page {
  padding-left: 10vw;
  padding-right: 10vw;
  @include breakpoint(medium) {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

.u-bold {
  font-weight: bold;
}
.u-normal {
  font-weight: normal;
}
