// Breakpoints
$bp-large: 65rem;
$bp-medium: 55rem;
$bp-small: 30rem;

 @mixin breakpoint($point) {
  @if $point == large {
    @media (max-width: $bp-large) { @content; }
  }
   @else if $point == medium {
    @media (max-width: $bp-medium) { @content; }
  }
  @else if $point == small {
    @media (max-width: $bp-small) { @content; }
  }
}

// Colors
$cl-white: #ffffff;

$cl-text-primary: #252537;
$cl-text-secondary: #B8A9A3;
$cl-text-accent: #385C6C;

$cl-bg-light: $cl-white;
$cl-bg-dark: #464D55;

// Transistion times
$time-fast: 0.3s;
$time-normal: 0.5s;
$time-slow: 1s;
